:root {
  --black: #000;
  --white: #fff;
  --grey: #666;
  --very-light-grey: #eee;
  --light-grey: #888;
  --dark-grey: #333;
  --blue: #326891;
  --san-serif-font: "Poppins", sans-serif;
  --serif-font: "Lora", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--serif-font);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}
img {
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.logo-container {
  width: 12rem;
}
.nav-icons {
  width: 0.9rem;
  margin-right: 1.5rem;
  align-self: center;
}
.btn {
  border-radius: 0.3rem;
  color: var(--white);
  background: var(--black);
  padding: 0.4rem;
  font-weight: 700;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 0.3rem 1.3rem;
  background-color: var(--white);
}

.nav-item {
  flex: 1;
}

.nav-item > a:nth-child(3) {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--black);
  font-weight: 600;
  font-family: var(--san-serif-font);
  align-self: center;
}

.subscribe {
  justify-content: flex-end;
}
.subscribe > a {
  color: var(--black);
  text-decoration: underline;
  font-family: var(--san-serif-font);
  margin-right: 1.5rem;
}

main {
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

header {
  margin-top: 5rem;
  width: 70%;
}

h1 {
  width: 35rem;
  margin: 1.5rem auto;
  font-style: italic;
  font-size: 2.2rem;
}

figcaption {
  font-size: 0.875rem;
  color: var(--grey);
  width: 80%;
  margin: 0.3rem;
}
.credit {
  color: var(--light-grey);
  font-size: 0.8rem;
}

#article {
  width: 50%;
  margin: 2.5rem auto;
}
h2,
.author-name {
  font-size: 0.9rem;
  color: var(--dark-grey);
  font-family: var(--san-serif-font);
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.author-name {
  display: inline-block;
  margin-left: 0.3rem;
}

.article-info {
  justify-content: space-between;
}

.date {
  font-size: 0.8rem;
  font-weight: lighter;
}
.article-icons-container {
  width: 40%;
  justify-content: space-between;
}

.article-icons {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--very-light-grey);
  text-align: center;
  justify-content: center;
}

.icons {
  width: 1rem;
  height: 1rem;
}
.right-icons {
  width: 1.4rem;
}
ul > button {
  padding: 1rem;
}

.article-content {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--dark-grey)
}

.article-content:first-child {
  margin-top: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.article-links {
  display: inline;
  text-decoration: underline;
  color: var(--blue) ;
}